<nav class=" toolbar nav-extended">
    <div class="nav-wrapper">
      <a href="#" class=" navbar-brand brand-logo">Santander</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Cadastro</a></li>
        <li><a href="badges.html">Dashboard</a></li>
        <li><a href="collapsible.html">A definir</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#test1">Home</a></li>
        <li class="tab"><a  href="#test2">Clientes</a></li>
        <li class="tab disabled"><a href="#test3">Conta Corrente</a></li>
        <li class="tab"><a href="#test4">Conta Popanca</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Cadastro</a></li>
    <li><a href="badges.html">Dashboard</a></li>
    <li><a href="collapsible.html">A definir</a></li>
  </ul>

  
